<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="/js-xlsx/jszip.js"></script>
<script type="text/javascript" src="/js-xlsx/shim.js"></script>
<script type="text/javascript" src="/js-xlsx/xlsx.js"></script>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

<style>
#excelWell{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb;
  width:700px;
  height:400px;
 margin-left: auto;
    margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
#excelWell>h2{
  position: relative;
  top: 50%;
}
.content{
  padding:50px;
}
</style>

</head>
<body>
<div class="content">
<div id="excelWell"><h2>Drop excel on me!</h2></div>
<div id="excelTable" hidden></div>
</div>
<script type="text/javascript">
var excelWell = document.getElementById('excelWell');
var wbObject = null;
function process_wb(workbook)
{
  workbook.SheetNames.forEach(function(sheetName)
  {
    var json = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
    if(json.length > 0)
      {
        var table = $('<table class="table table-striped table-hover"></table>');
        completeTable = buildHtmlTable(json,table);
        $('#excelTable').append("<h1>"+sheetName+"</h1>");
        $('#excelTable').append(completeTable);
      }
    });
  }
function addAllColumnHeaders(data,domObject)
{
    var columnSet = [];
    var headerTr$ = $('<tr/>');

    for (var i = 0 ; i < data.length ; i++) {
        var rowHash = data[i];
        for (var key in rowHash) {
            if ($.inArray(key, columnSet) == -1){
                if(key != '__rowNum__')
                  {
                columnSet.push(key);
                headerTr$.append($('<th/>').html(key));
              }
            }
        }
    }
    domObject.append(headerTr$);
    return columnSet;
}
function buildHtmlTable(data,domObject) {

    var columns = addAllColumnHeaders(data,domObject);

    for (var i = 0 ; i < data.length ; i++) {
        var row$ = $('<tr/>');
        for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
            var cellValue = data[i][columns[colIndex]];

            if (cellValue == null) { cellValue = ""; }

            row$.append($('<td/>').html(cellValue));
        }
        domObject.append(row$);
    }
    return domObject;
}
function handleDrop(e) {
  e.stopPropagation();
  e.preventDefault();
  var files = e.dataTransfer.files;
  var i,f;
  for (i = 0, f = files[i]; i != files.length; ++i) {
    var reader = new FileReader();
    var name = f.name;
    reader.onload = function(e) {
      var data = e.target.result;

      /* if binary string, read with type 'binary' */
      var workbook = XLSX.read(data, {type: 'binary'});
      process_wb(workbook);
    };
      reader.readAsBinaryString(f);
    }


$('#excelTable').show( "slow" );
$('#excelWell').hide();
}

function handleDragover(e) {
  e.stopPropagation();
  e.preventDefault();
  e.dataTransfer.dropEffect = 'copy';
}

if(excelWell.addEventListener) {
  excelWell.addEventListener('dragenter', handleDragover, false);
  excelWell.addEventListener('dragover', handleDragover, false);
  excelWell.addEventListener('drop', handleDrop, false);
}

</script>
</body>
</html>
